<div class="container">
  <div class="row subheder">
    <div id="title" class="col-xs-12 ">
    <h3>Cat owner - By Gender</h3>
    </div>
  </div>   
  
  <div class="row">
        <div class="col-xs-12 shadowBottom" >
          <h5>Sort Cats by: </h5>
          <input type="radio" id="asc" name="sortOrder" value="asc" [(ngModel)]="catSortOrder" (change) ="handleChange()"><label for="asc" >Ascending</label>
          <input type="radio" id="desc" name="sortOrder" value="desc"  [(ngModel)]="catSortOrder" (change) ="handleChange()"><label for="desc" >Descending</label>
        </div>
      </div>   
    <div class="row shadowBottom">
      <div class="col-xs-12  col-sm-6">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
                <h4>Male</h4>
            </div>
          </div>
          <div class="row" *ngFor="let catName of maleOwnedCats  let i = index">
            <div id="maleCatOwner{{i}}" class="col-xs-12 maleCatOwner">
                {{ catName }}
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-12">
                <h4>Female</h4>
            </div>
          </div>
          <div class="row" *ngFor="let catName of femaleOwnedCats let i = index">
            <div id="femaleCatOwner{{i}}" class="col-xs-12 femaleCatOwner">
                {{ catName }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
